<section>
    <div class="footer_tekst">
        <p>SKITSE</p>
        <p class="adresse">Ryesgade 5, 2200 København N</p>
        <p>Tlf. 81 77 50 57 - info@skitse.nu</p>
        <p>Åbningstider: Onsdag - fredag kl 12-18, Lørdag kl 11-15</p>
<div class="socialemedier">
    <img src="billeder/insta.svg" alt="instagram logo" />
    <img src="billeder/facebook.svg" alt="facebook logo" />

</div>
    </div>
</section>